/*
 * Copyright 2023 Thorsten Ludewig (t.ludewig@gmail.com).
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 *
 * fill new moodle user from ldap entry
 */
(
  function ldap2moodle( mode, moodleUser, ldapEntry )
  {
    // mode : "test", "create, "update"
    
    moodleUser.setFirstname(ldapEntry.getAttributeValue("givenname"));
    moodleUser.setLastname(ldapEntry.getAttributeValue("sn"));
    moodleUser.setEmail(ldapEntry.getAttributeValue("mail"));
    moodleUser.setPhone(ldapEntry.getAttributeValue("telephoneNumber"));
    moodleUser.setFax(ldapEntry.getAttributeValue("facsimileTelephoneNumber"));
    moodleUser.setWeb("https://www.myorg.de");
    moodleUser.setOrganization("MyOrg");
    moodleUser.setVerified(true);

    if ( "create" === mode || "test" === mode )
    {
      if ( ldapEntry.getAttributeValue("institute") === "CC" )
      {
        moodleUser.setDepartment( "CC" );
        moodleUser.setRoles( [ "Agent", "Customer" ] );
      }
      else
      {
        moodleUser.setRoles( [ "Customer" ] ); // array of String
      }
    }
  }
);
